@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-10">
        <div class="jumbotron outputPanel" id="inboxMssageArea">

        </div>
        <div id="outboxMessageArea" class="inputPanel">
            <h4>Сообщение</h4>
            <div class="div-block-level">
                <textarea id="message" class="input-block-level" placeholder="Введите сообщение"></textarea>
            </div>
            <p><button class="btn btn-default" id="sendSelected">Послать выбранным</button><button class="btn btn-default" id="sendAll">Послать всем</button></p>
            <input id="hdId" type="hidden" value=""/>
        </div>
    </div>
    <div class="col-md-2">
        <h4>Сейчас online:</h4>
        <ul id="users">
        </ul>
    </div>
</div>
