@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-10">
        <div class="jumbotron outputPanel" id="inboxMssageArea">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <div id="outboxMessageArea" class="inputPanel">
            <h>Сообщение</h>
            <input type="text" id="message" />
            <p><a class="btn btn-default" href="" id="sendSelected">Послать выбранным</a><a class="btn btn-default" href="" id="sendAll">Послать всем</a> </p>
            <input id="hdId" type="hidden"/>
            <input id="username" type="hidden">

            <h>Пользователь :</h>
            <input type="text" id="txtUserName" />
            <p><a class="btn btn-default" href="" id="btnLogin">Логин</a></p>
        </div>
    </div>
    <div class="col-md-2">
        <h2>Сейчас online:</h2>
        <ul id="users">
            <li>ihvcivci</li>
            <li>bxdjbxkjdb</li>
        </ul>
    </div>
</div>
